<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- 方式一 -->
	<jaxws:client id="helloWebService"
			serviceClass="com.roc.cxf.service.ws.IHelloWorldService"
			address="http://localhost:8090/cxf-activemq-demo/services/helloService"/>
			
	<jaxws:client id="workWebService" serviceClass="com.roc.cxf.service.ws.IWorkService"
					address="http://localhost:8090/cxf-activemq-demo/services/workService"/>
					
	<jaxws:client id="fileDataWebService" serviceClass="com.roc.cxf.service.ws.IFileDataService"
					address="http://localhost:8090/cxf-activemq-demo/services/fileDataService"/>
			
	<!-- 方式二 -->
	<bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.roc.cxf.service.ws.IHelloWorldService" />
		<property name="address" value="http://localhost:8090/cxf-activemq-demo/services/helloService" />
	</bean>
	<bean id="helloWebService2" class="com.roc.cxf.service.ws.IHelloWorldService"
		factory-bean="clientFactory" factory-method="create" />
</beans>